.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    width: 100%;
}

.main-footer {
    position: relative;
    bottom: 0;
    background-color: darkgray;
    width: 100%;
}

.header-logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-profile {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center
}

.header-menu {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    min-width: 0px;
    flex: auto;
}

.mainContent {
    margin: 2rem 2rem 0 2rem;
}

.fullLayout {
    width: 100%;
    height: 100%;
}

.nav-item {
    cursor: pointer;
    width: 5rem;
    text-align: center;
}

.nav-item {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.nav-item:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #9672d9;
}