.feed-prev-container {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.avatar {
    margin-right: 15px;
}

.nick {
    font-size: 1rem;
    margin: 0px 0px 3px 0px;
    font-weight: 600;
}

.date {
    font-size: 0.75rem;
    margin: 0px;
    color: gray;
}

.cont {
    margin-top: 10px
}